<h1 [ngStyle]="{ color: 'red' }">{{ title }}</h1>
<h2>{{ getFullName() }}</h2>
<p class="event-example" [ngClass]="{ clicked: isClickState }">
  {{ isClickState ? "True" : "False" }}
</p>

<button
  (click)="toggleState()"
  [ngClass]="{ active: isActive, disabled: isDisabled }"
>
  toggle state
</button>

<p>test component works!</p>

<input [(ngModel)]="userName" type="text" placeholder="Type your name" />
<p>Hello, {{ userName }}</p>

<form>
  <label for="email">Email:</label>
  <input type="email" [(ngModel)]="userEmail" name="'email" />
  <button (click)="submitForm()" type="submit">
    <button type="submit" [disabled]="!userEmail">Submit</button>
  </button>
</form>
<p>Your email: {{ userEmail }}</p>
